## Introduction to Python

### Agenda:
+ ### What is Jupyter Notebook?
+ ### How to Use Jupyter Notebook?
+ ### Short cuts in Jupyter Notebook!
+ ### What is Python?
+ ### What is Variable?
+ ### What is datatype?
+ ### Whar are Literals?
+ ### Whar is Operator?

# What is Jupyter?
Jupyter is an IDE typically used to develop data analysis and data science solutions. Jupyter, in its early days was called IPython(Hence the extension - ipynb) but it was changed to Jupyter to reflect the inclusion of support for other programming languages. It actually provides support for 40+ languages. The name Jupyter is an amalgamation of the major programming languages it supports - `JUlia PYTon E R`

### Reason to use Jupyter
There are two major reasons we're using Jupyter over other IDEs
- Jupyter has the provision to include rich media(images, hyperlinks, plots, graphs, audio, text formatting etc..)
- Debugging in Jupyter is much more easier compared to other IDEs/Editors

# Few keyboard shortcuts:
- `Esc` + `M`: Convert a coding cell into markdown
- `Esc` + `Y`: Convert a markdown cell into the code mode
- `Shift` + `Enter`: To execute/run the current cell
- `Esc` + `A`: To add a new cell atop the current cell
- `Esc` + `B`: To add a new cell below the current cell
- `Esc` + `DD`: To delete the current cell

# Headings
Headings are important in documents as they lead the reader in on what is the topic being dealt. Jupyter makes use of Hashes(#) to indicate Headings.

Syntax:
    #s text

# H1
## H2
### H3
#### H4
##### H5
###### H6

# Blockquote
Blockquotes can be considered as sub-articles or specialized sections in the article where terms which need further explanantion are explained.

Syntax:

    > text

Line1  
Line2  
> Term1  

Line3  
Line4  
Line5  
> Term21  
> Term22

Line6

# Text Highlighting
Text in jupyter can be highlighted by enclosing it in backticks(`)

We are `Innomatics`

# Horizontal Rule
Line breaks are used to demark different sections in the document. Include three consecutive hyphens in a line of their own to give a horizontal rule

I am first line

---

I am second Line

# Text emphasis
We can emphasize a text in jupyter by either putting it in bold or italics

**Bold** is bolded and *italics* is italicized

# Lists
Lists are collections which help us stay organised. There are two kinds of lists:
- Ordered list
- Unordered list

### Unordered lists
Unordered lists are collections of items where the ordering isn't important. We can put either `+`, `-` or `*` before an item to indicate that it belongs to an unordered list

- item1
- item2
+ item3
+ item4
* item5
* item6

### Ordered lists
Ordered lists are collections of items where the ordering is important. We have to give a number followed by a full-stop to indicate that it's an ordered list
1. item1
2. item2
3. item3
4. item4

# Hypertext
Hypertext is a text on internet which when clicked upon redirects us to a new web page

Syntax:

    [Text](url *tooltip)
[this](https://www.google.co.in "Go to Google")

### Image

![Innomatics](https://miro.medium.com/max/2560/1*4oRB4tZrc4OLUeoc-p4wKQ.png)

In [1]:
### Image
#### code for import the image into jupyter notebook

###![Innomatics](https://miro.medium.com/max/2560/1*4oRB4tZrc4OLUeoc-p4wKQ.png)

# What is python?
- Python is an interpreted, high-level, multipurpose programming language. The version of python we'll using is python 3

Python Features
1. Interactive
2. Interpreted
3. High Level
4. Multi purpose or General Purpose
5. Object Oriented
6. Non Compiled

## Python File extension 
1. .ipynb => interactive python notebooks (Jupyter notebooks)
2. .py => python Files
3. .pyw = > No console python file (Back ground process)
4. .pyd => DLL files of python 
5. .pyc => Compiled python files
6. .pyx => pyrex version of python (Speeding up)

## Python Variations 
1. CPython or Python=> Original Python created using C Language
2. Cython => C variant of Python (Faster than Python)
3. Jython => Java variant of Python 
4. PyPython => Python variant of Python
5. IronPython => .net variant of python

## python Literals

Literals => Important pieces of python

Four Literals (or) Data Types
1. integer or int
2. Float or float
3. string or str
4. Boolean or bool

Integers => Numbers without decimal places

Ex: 1, 5, -6, -9, 0, 1000, 4, 99999, -99999, 32333, 249
    
Float => Numbers with decimal places

Ex: 9.9, 1.8, 0.65, 9.5, 0.23, 9.18, 7.0, -4.3, -1.5, -99.98, 1.1
    
Boolean => True or False

String => Characters, words, sentences

Ex: "Suresh", "Innomatics", "Python", "Jupyter", "Cython"

One can create strings using single quotes
'suresh'
Or Double Quotes
"Suresh"
or three single quotes
'''Suresh'''
or three Double Quotes
"""Suresh"""

Whenever the strings contains single quotes it self, 
to represent them one can use double quotes around it 

ex: "don't"

Whenever the strings contains Double quotes it self, 
to represent them one can use single quotes around it

ex: 'Suresh is a "Python" instructor'

In [ ]:
If strings are of one line => Use either single or double quotes.
If strings are of more than one line => Use three single or three double quotes

In [8]:
"""Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.[34]

Python is dynamically typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a "batteries included" language due to its comprehensive standard library.[35][36]

Guido van Rossum began working on Python in the late 1980s as a successor to the ABC programming language and first released it in 1991 as Python 0.9.0.[37] Python 2.0 was released in 2000. Python 3.0, released in 2008, was a major revision not completely backward-compatible with earlier versions. Python 2.7.18, released in 2020, was the last release of Python 2.[38]"""

'Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.[34]\n\nPython is dynamically typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a "batteries included" language due to its comprehensive standard library.[35][36]\n\nGuido van Rossum began working on Python in the late 1980s as a successor to the ABC programming language and first released it in 1991 as Python 0.9.0.[37] Python 2.0 was released in 2000. Python 3.0, released in 2008, was a major revision not completely backward-compatible with earlier versions. Python 2.7.18, released in 2020, was the last release of Python 2.[38]'

In [ ]:
"5" # str
5 # integer
"True" # String
"9.8" # string
9.8 # Float
True # Boolean
"s" # String
"False" # String
False # Boolean

In [9]:
type("True")

str

In [10]:
type(True)

bool

In [ ]:
# Variables 
# Operators

## Variables

Variables are like storage boxes, or alias names for easy accessing the data

In [ ]:
# How can we assign values to variables
variable_name = value_to_store

## Rules for variable names

1. Variable name should not contain any special characters other than _ (underscore)
2. Variable name first character should not be a number
   (Variable name should not start with a number)
3. Variable name should not be python keyword
   (Keywords are known to python)
    (Don't use words which are turning into green)

In [ ]:
# Invalid Variable Names
else
1v
@a
a@
a apple
a*b
c++
.net
2pens
$money
is
if
for
# Valid Variable Names
a3
string
name_0
_name
n1ame
n_a_m_e_4
name
name100
name_2
Name
NAME
_NAME_
_1name

In [ ]:
1v # Invalid
v1 # Valid

In [ ]:
.,~!@#$%^&*()))-+={['"?/\| ']} # special characters

In [11]:
'suresh'=="suresh"

True

In [11]:
## Assign Values to Variables
a1 = 4
s1 = "Python"
S1 = "Innomatics"
b1 = True
f1 = 5.6
f2 = 9.8
f3 = 9.0
i3 = 100
a3 = 450

In [7]:
S1

'S1'

In [6]:
a3

450

In [8]:
type(a1)

int

In [ ]:
# Python Case Sensitive => Lower case and Upper case are different

In [12]:
## 
print(type(a1))
print(a1)
a1 = 45
print(a1)

<class 'int'>
4
45

In [13]:
print(type(a1))
print(a1)
a1 = 5.9
print(type(a1))
print(a1)

<class 'int'>
45
<class 'float'>
5.9

In [14]:
print(type(a1))
print(a1)
a1 = "Python"
print(type(a1))
print(a1)

<class 'float'>
5.9
<class 'str'>
Python

In [ ]:
## Type of variable is determined by
# value which is stored in the variable

# Once a variable is defined with specific data type
# One can the same variable to another data type
# Dynamic Typing => no strict rule of data types

In [15]:
a = 5
a = 4
a = 6
print(a)

6

## Type Conversion

In [31]:
a = 5
b = -4
c = 0
# a & b are integers. 
# If needed to convert to int
# int() function should be used
# if needed to convert to float
# float() function should be used
# If needed to convert to string
# str() function should be used
# If needed to convert to Boolean
# bool() function should be used

In [24]:
#print(type(a))
type(int(a))

int

In [25]:
float(a)

5.0

In [29]:
str(a)

str

In [30]:
bool(a)

True

In [33]:
bool(b)

True

In [35]:
bool(c) # False

False

In [ ]:
# Any thing other than 0, None, numpy.nan,'' are True

In [39]:
bool(None)

False

In [40]:
bool(0)

False

In [41]:
bool('')

False

In [47]:
bool(0.0)

False

In [43]:
bool(0.1)

True

In [44]:
bool(0.0000000001)

True

In [46]:
bool(0.00000000005)

True

In [48]:
bool("H")

True

In [49]:
# Float to int, str, bool
a = 4.85
b = -9.8
c = 3.14

In [50]:
int(a)

4

In [51]:
int(b)

-9

In [52]:
int(c)

3

In [53]:
str(a)

'4.85'

In [55]:
str(b)

'-9.8'

In [56]:
str(c)

'3.14'

In [57]:
str(0.10)

'0.1'

In [58]:
bool(a)

True

In [59]:
bool(b)

True

In [76]:
## String to int, float, bool
a = '5' # int, float, bool
b = '5.6' # float, bool
c = 'Innomatics' # bool
d = 'inno6' # bool
e = 'i6.2' # bool
f = 'True' # bool
g = 'False' # bool
h = '' # bool

In [61]:
int(a)

5

In [62]:
int(b) # Error

ValueError: invalid literal for int() with base 10: '5.6'

In [64]:
int(d)

ValueError: invalid literal for int() with base 10: 'inno6'

In [65]:
float(a) #

5.0

In [67]:
float(b) #

5.6

In [70]:
float(e)

ValueError: could not convert string to float: 'i6'

In [79]:
bool(h)

False

In [80]:
# bool to int, float, str
b1 = True
b2 = False

In [81]:
int(b1) # True to int => 1

1

In [82]:
int(b2) # False to int =>0

0

In [83]:
float(b1) # True to float => 1.0

1.0

In [84]:
float(b2) # False to float => 0.0

0.0

In [85]:
str(b1) # True to String => 'True'

'True'

In [87]:
str(b2) # False to String = 'False'

'False'

In [88]:
bool(str(b2))

True

In [2]:
a = 5
print(a)
print("Hello")
print("asugsilsh")
print(b)
print("World")

5
Hello
asugsilsh

NameError: name 'b' is not defined

In [3]:
print("a")

a

In [6]:
a

5

In [5]:
print("adhjj")

adhjj

In [ ]:
# Comments in Python

In [90]:
#Comment => It will not be treated as code, and ignored by python
#Comment in python can be written using #
#Once comment is started using #, it is valid till end of the line
# can be used as single line comment 
# No multi line comments in python
# For multi line comments alternatively one can use triple quotes
'''
o;wenno 
rgnol 
;otnhdlk 
\;ogl bf
klngfhfng
'''
print(5)

5

## Operators in python

1. Arithmetic Operators
2. Comparision Operators
3. Logical Operators
4. Bitwise Operators
5. Assignment Operators
6. Membership Operators
7. Identity Operators

In [ ]:
Arithmetic Operators
+ => Addition
- => Subtraction
* => Multiplication
/ => Division
% => Modulus (Reminder)
** => Power
// => Floor Division

In [91]:
a = 5
b = 3
a+b

8

In [92]:
a-b

2

In [93]:
a*b

15

In [94]:
a/b

1.6666666666666667

In [95]:
a%b

2

In [96]:
10%5

0

In [97]:
5%10

5

In [98]:
2%3

2

In [99]:
31%5

1

In [100]:
a**b

125

In [101]:
2**5

32

In [102]:
10**3

1000

In [105]:
## Floor Division
10//3

3

In [106]:
9//4

2

In [107]:
9/4

2.25

In [108]:
8/4

2.0

In [109]:
8//4

2

In [110]:
8/4.0

2.0

In [111]:
8//4.0

2.0

In [ ]:
## output of division is of type float only
## output of floor division 
#   if both inputs are integers, then output will be integers
#   otherwise it will be float

#### Comparison Operators

>, <,>=, <=, ==, !=

 >  Greater than
 <  Less than
 >=  Greater than or is equal to
 <=  less than or is equal to
 ==  is equal to
 !=  not equal to

In [ ]:
output of comparison operators are boolean type

In [112]:
5<3

False

In [113]:
a = 5
b = 3
a<b

False

In [114]:
a>b

True

In [115]:
a<=b # 5<=3

False

In [116]:
a>=b # 5>=3

True

In [117]:
a==b # 5==3

False

In [118]:
a!=b # 5!=3

True

In [119]:
100!=100 # False

False

In [120]:
10==12 # False

False

In [121]:
"Suresh"=="Suresh1"

False

In [122]:
"Suresh"=="Suresh"

True

## Logical Operators

In [ ]:
and, or, not

In [ ]:
and => All the inputs has to be True to be True
or => Any one input has to be True to be True
not => Opposite of the Input

In [123]:
True and False

False

In [124]:
True and True and True and True and True and False and True and True

False

In [127]:
False or False or False or False or False or False or False or True or False

True

In [128]:
not True

False

In [129]:
not False

True

In [130]:
(True and False) or (False or False) or (not False) or (True and False)

True

In [131]:
a = 10
b = 30
c = 5
(a+b<c and a>b+c) or (not a+b+c<100) or (a%2==0)

True

In [133]:
# Write a logic whether a given number is between 
# 5 and 20
a  = 12
a>=5 and a<=20

True

In [134]:
# Write the logic to check given number is even or not
a = 42
a%2==0

True

In [135]:
# Write the logic to check given number is odd or not
a = 42
a%2!=0

False

In [136]:
# Test whether the given number is divisible any of 5,7,11
a = 75
a%5==0 or a%7==0 or a%11==0

True

In [138]:
# If two numbers are given check whether both are odd numbers and sum 
#should be less than 50
a = 4
b = 54
a%2!=0 and b%2!=0 and a+b<50

False

## Bitwise Operators

In [ ]:
&, |, ^, ~, <<, >>
 & => Bitwise and
 | => Bitwise Or
 ^ => Bitwise xor
 ~ => Not
 << => Left Shift
 >> => Right Shift

In [1]:
15&3

3

In [2]:
bin(75)

'0b1001011'

In [3]:
bin(108)

'0b1101100'

In [4]:
75&108

72

In [5]:
75|108

111

In [6]:
75^108

39

In [7]:
75<<3

600

In [8]:
75>>3

9

In [9]:
True & False

False

In [10]:
True and False

False

In [11]:
True ^ False

True

In [12]:
2**16

65536

In [13]:
~7 # -(7+1)

-8

In [14]:
~(10)

-11

In [15]:
~(-12)

11

In [16]:
~0

-1

In [17]:
~(-1) # add +1 and reverse s

0

## Assignment Operators

In [ ]:
=, 
+=, -=, *=, /=, //=,**=, %=, &=, |=, ^=, <<=, >>=

In [18]:
a = 3
b = 5

In [19]:
a+=b # a = a+b
print(a)

8

In [20]:
a = 3
b = 5
a = a+b
print(a)

8

In [21]:
a = 3
b = 5
a+=b # a = a+b
print(a) # 8
a-=b # a= a-b
print(a) # 3
a*=b # a = a*b
print(a) # 15
a/=b # a = a/b
print(a) # 3
a**=b # a = a**b
print(a) # 243
a%=b # a = a%b
print(a) # 3
a//=b # a = a//b
print(a) # 0

8
3
15
3.0
243.0
3.0
0.0

In [22]:
a = 4
b = 8
a&=b # a = a&b
print(a)
a|=b # a = a|b
print(a)
a^=b # a = a^b
print(a)
a<<=2 # a = a<<2
print(a)
a>>=1 # a = a>>1
print(a)

0
8
0
0
0

## Membership Operators

In [ ]:
in, not in

In [23]:
# Membership =>
's' in 'innomatics'

True

In [24]:
'p' not in 'data science'

True

In [25]:
1 in [5,6,4,5,1,0,4] # Lists

True

In [26]:
0 in (7,10,100,14,15) # Tuples

False

In [27]:
5 in {5,6,19,54,34} # Sets

True

In [28]:
'p' in {'a':'AAAAA','b':'BBBBB','C':'CCCCC'} # Dictionary

False

## Identity operators

In [ ]:
is, is not

In [29]:
5 is 5

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\sures\AppData\Local\Temp\ipykernel_12328\1783323536.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  5 is 5

True

In [30]:
5==5

True

In [31]:
a = None
a is None

True

In [32]:
a==None

True

In [34]:
"python" is "python"

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\sures\AppData\Local\Temp\ipykernel_12328\3585426024.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "python" is "python"

True

In [35]:
[1,2,3]==[1,2,3]

True

In [36]:
[1,2,3] is [1,2,3]

False

In [40]:
a = [1,2,3]
b = a.copy()
a is b

False

In [41]:
a = [1,2,3]
b = a
a is b

True

In [ ]:
Arithmetic => +, -, *, /, **, %, //
Comparison => >, <, >=, <=, ==, !=
Logical => and, or, not
Bitwise => &, |, ^, ~, <<, >>
Assignment => =, +=, -=, *=, /=, **=, %=, //=, &=, |=, ^=, <<=, >>=
Membership => in, not in
Identity => is, is not

### Some interesting aspects in python:
- Python is a great language to start programming with because of it's ease of use and its english-like syntax
- Python uses indentations to define scope whereas other programming languges might use flower brackets
- Python uses new lines to indicate the end of line in a program instead of using semi colons

# Why do we use Python?
Python and R are the two most ubiquitous languages used in data secience. Python wins over R in the sense that python can be scaled up with data while that's not possible with R. One more win for python is that , python provides us with many libraries and modules to handle data and work with many kinds of machine learning algorithms. Python can handle auditory, visual, textual kinds of information, to name a few. It also provides extensive support for deep learning

# Literals and Variables

### Literals
A literal is nothing but a data types which conveys information. there are many kinds of literals in python where the four main datatypes are:
- integral values: `int`
- decimal values: `float`
- true or false statements: `bool`
- text data: `str`   
Apart from these, there are many other datas type which we'll we looking at later

### Inegers are 1,2,3,4,50,-10,0,32,1064,7346,
### Floats are 1.2, 2.3, 4.5, 9.7, 10.0,-3.3
### strings are "name","value","innomatics",'whe',
### Multi Line strings """polo aluhfkjsbgjbargjnalbsga lkjahsdknakjlgnlkajkbn""" 
### Multi line strings ''' Poljajlrhguseglkhaleruhtaenrn abwkhaebgagrkhabbagb''' # Documentation
## Boolean True,False

### Variable
Variables are nothing but place holders to store the literal values. Variables can be accessed by their names and some rules have to be followed while naming variables

Naming conventions for variables:
- A variable name can only contain alphabets, numbers and under score
- A variable name can only start with an underscore or an alphabet
- A variable name can't be the same as any keyword(keywords are sequences of characters which have some special meaning to them)
- A variable name can't have any spaces between the various parts of the variable. If we want to distinguish them, we can use and underscore or make the variable name CamelCase
> variable_name
> VariableName
- It is suggested that we make our variable names as descriptive as possible
> a = 21
> age = 21

Storing a literal into a variable is called as assigning the variable with a literal and is accomplished using the equality(`=`) symbol

## Integer Examples

In [6]:
a = 2
ht = 10
ty = 100
a1 = 56
un = 90
Un = 10 # un and Un are not same
po = 12
po_ = 1
_yt = 10
__yt = 10

In [ ]:
c = 10

In [12]:
un==Un

False

In [7]:
#Not valid examples of Integers
1a = 4
a@ = 5
a& = 9
a* = 6
a b = 5
^a = 5

SyntaxError: invalid syntax (Temp/ipykernel_12696/874244026.py, line 2)

In [10]:
# Float Examples
float1 = 10.0
float2 = 10.1
float3 = 110.9
_float = 109.6
# String examples
str1 = "name"
str2 = "shiva"
str3 = "v"
str4 = "chaitanya"
str5 = "krishna"
_str6 = "lol"
str7 = "1097"
str8 = "True"
# Bool exxamples
isTrue = True
isNull = False
isCounter = True
isEmpty = False

In [9]:
type(str7)

str

In [11]:
type(str8)

str

In [15]:
str9 = """jlasughlgkghskeughehg
akjshiahrgkhdg"""

### Some of the rules in python
**Indentation matters in Python.** Note that the statements are entered from the first column in the new line. The Python interpreter will report an error if the program is typed as follows:

	print("Welcome to Python")
print("Python is fun")

**Don’t put any punctuation at the end of a statement**. For example, the Python interpreter will report errors for the following code:

print("Welcome to Python").
print("Python is fun"),

**Python programs are case sensitive.** It would be wrong, for example, to replace print in the program with Print.

In [1]:
print("Hello Innomatics")
    print("Hello Innomatics")
#Indentation comes when if, while, for, class, methods

IndentationError: unexpected indent (Temp/ipykernel_3920/1119787189.py, line 2)

In [9]:
# Other than semicolon, no other symbol is allowed. (Note: Semicolon is ignored, Not necessary to keep semicolon at the end)
print("Welcome to python")

Welcome to python

# Writing comments in python
Comment is not a python statement and thus is ignored by python interpreter. But, it is plain text that documents what the program is and how it is constructed.

It is always good to write a comment that describes purpose of each statement included in a program.

It increases readability of the program.

In Python, one can write comments as:
1. Single line comment starting with a pound (#) sign
2. Paragraph comment that starts and ends with three consecutive single quotes (''') or three consecutive double quotes (""").

In [46]:
## Good coding practices -> Your comments should make sense

In [48]:
# Single line comment starting from the beginning
print("Hello world")# This is a example comment after python code

Hello world

In [44]:
# kjshfdjkgsdfkjg
# sdkjfjglskdjh
# skdfngkjsnd,n
'''kjdfgjksdsfgbs
sdsf,jnkjhnjndfh
sdfkg,jns,dfjkn,kdfngn
'''
dummy1 = """ksjdgjnsfd,jndsfg
sjsdfnkjsnfdhljaryoy;iquey8e lssdfj vsdldfhloehrnsdf vs
dfsldfnlerhyerj bvli df veuhbdfmij iierjerrng
sdjjgjwleiyueionrv    v][sesrkljjgsljgnmnsdf bsdb
loiejrtsndfk sdfnb]"""

# Python Keywords
**Keywords are the pre-defined or built-in words whose meaning is already known to python interpreter.**

Keywords are the reserved words in python

We can't use a keyword as variable name, function name or any other identifier

All the keywords except True, False and None are in lowercase and they must be written as is.

In [50]:
import keyword

In [52]:
",".join(keyword.kwlist)

'False,None,True,__peg_parser__,and,as,assert,async,await,break,class,continue,def,del,elif,else,except,finally,for,from,global,if,import,in,is,lambda,nonlocal,not,or,pass,raise,return,try,while,with,yield'

In [54]:
## Keywords are the known or pre-defined or built-in words, Meaning of these words known to python

# Identifiers
**Identifiers are the user-defined names given to various program elements such as variable, function, class...etc.**

**Rules for Writing Identifiers:**

1. Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_).

2. An identifier cannot start with a digit. 1variable is invalid, but variable1 is perfectly fine.

3. Keywords cannot be used as identifiers.

4. No special symbol can be used

5. An identifier can be of any length.

**Note-1**: 
* Python is a case-sensitive language. This means, the identifiers amount, AMOUNT, and aMouNT are not the same. 
* Always name identifiers that make sense. For example, num is meaningful compared to x
* Multiple words can be separated using an underscore. Ex.,compound_interest
* We can also use camel-case style of writing, i.e., capitalize every first letter of the word except the initial word without any spaces. For example: camelCaseExample

In [58]:
#Builtin defined referes to it already knows
#user defined refers to we are teaching to it to learn (Identifiers)

In [55]:
a = 3
def fun():
    pass

In [56]:
a

3

In [57]:
fun

### Note: 2.
Python is dynamically typed language. i.e., a variable can hold different types of literals at different times. This is not possible with static-typed languages like C, C++ and Java.

In [59]:
a = 2 # Int
a = "two" # String
a = 2.0 #Float
a = False # Bool

### Note: 3.
In Python, multiple variables are assigned with corresponding values within single assignment statement.

In [60]:
a,b,c,d = 2,3,4,5

In [63]:
print(a)
print(b)
print(c)
print(d)

2
3
4
5

### Note: 4. Type Conversion
You can convert one variable type to another type using type(value)

In [ ]:
#int, float, bool, str

In [64]:
a = 2
b = 'string'
c = 3.4
d = False

In [66]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [75]:
print(int('4'))
print(float(3))
print(type(str(1456)))
print(bool(4))

4
3.0
<class 'str'>
True

In [76]:
print(str(1456))

1456

In [84]:
## This is will throw in error
int('string')
int('str4')
float('string4.0')
bool('tru')

ValueError: invalid literal for int() with base 10: 'string'

# Operators and Expressions

Operator is a predefined symbol that performs operation using operands.
e.g., + is an operator that performs addition using two operands.

Expression is collection of operands (literals/variables) and operators that when evaluated gives some result.
e.g., (2+3)-5 is an expression that returns result 0. 

For each operator, please know:
1. arity: no.of operands an operator acts upon
2. operation: activity
3. precedence: priority of evaluation
4. Associativity: Order of evaluation

### Arithmatics operators

In [85]:
x = 15
y = 4
print('x + y =',x+y)
print('x - y =',x-y)
print('x * y =',x*y)
print('x / y =',x/y)
print('x // y =',x//y)
print('x ** y =',x**y)
print('x % y  =',x%y)

x + y = 19
x - y = 11
x * y = 60
x / y = 3.75
x // y = 3
x ** y = 50625
x % y  = 3

In [88]:
# floor division means it will divide and takes floor of value.
#floor, ceil, round
x//y

3

In [90]:
# ** is power symbol
print(2**3)
print(10**3)

8
1000

In [95]:
# Modulus operator (%), It will give reminder
x%y

3

### Logical Operators

In [96]:
x = True
y = False
print('x and y is',x and y)
print('x or y is',x or y)
print('not x is',not x)

x and y is False
x or y is True
not x is False

In [98]:
# All must be true to become true
True and True and True and True and True and True

True

In [99]:
# Any one should be true to become true
True or False or False or False or False or False

True

In [104]:
not False

True

In [107]:
## Combining multiple and and or with not
not((True or False) and (True and True and True) and (True or False or False))

False

### Bitwise operators

In [113]:
x = 2
y = 7
print('x & y =',x&y)
print('x | y =',x|y)
print('x ^ y =',x^y)
print('~x =',~x)
print('x<<2 =',x<<2)
print('x >> 2 =',x>>2)

x & y = 2
x | y = 7
x ^ y = 5
~x = -3
x<<2 = 8
x >> 2 = 0

### Identity operators

In [115]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]
print(x1 is y1)
print(x2 is y2)
print(x3 is y3)

True
True
False

###  Assignment operators

In [118]:
x = 15
y = 4
print('x=',x)
x+=y
print('x += y =',x)
x-=y
print('x -= y =',x)
x*=y
print('x *= y =',x)
x/=y
print('x /= y =',x)
x//=y
print('x //= y =',x)
x**=y
print('x **= y =',x)

x=int(x)
x&=y
print('x &= y =',x)
x|=y
print('x | =y =',x)
x^=y
print('x ^= y =',x)
x<<=2
print('x<<=2 =',x)
x>>=2
print('x >>= 2 =',x)

x= 15
x += y = 19
x -= y = 15
x *= y = 60
x /= y = 15.0
x //= y = 3.0
x **= y = 81.0
x &= y = 0
x | =y = 4
x ^= y = 0
x<<=2 = 0
x >>= 2 = 0

### Membership operators:
`in` and `not in` are the membership operators in Python. They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).

In [123]:
x = 'Hello world'
y = {1:'a',2:'b'}

print('H' in x)
print('hello' not in x)
print(1 in y)
print('a' in y)

True
True
True
False

In [119]:
x = "Innomatics"
'o' in x

True

In [120]:
'x' not in x

True